@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Strichpunkt+Sans:wght@400..900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"poppins", sans-serif;
}

:root{

    --white-color:#fff;
    --dark-color:#252525;
    --primary-color:#883101;
    --secondary-color:#F3961C;
    --lightpink-color:#FAF4F5;
    --mediumgray-color:#ccc;


    --font-size-small:0.8rem;
    --font-size-medium: 1rem;
    --font-size-large:1.5rem;
    --font-size-xtralarge: 2rem;
    --font-size-xxtralarge:2.3rem;

    --font-weight-small:400;
    --font-weight-medium:500;
    --font-weight-semibold:600;
    --font-weight-bold:700;


    --border-radius-small:7px;
    --border-radius-medium:32px;
    --border-radius-circle:50%;


    --site-max-width:1250px;
}




ul{
    list-style:none;
}

a{
    text-decoration:none;
}

button{
    cursor:pointer;
    border:none;
    background:none;
}

img{
    width:100%;
}

.section-cntn{
    margin:0 auto;
    padding:0 17px;
    max-width:var(--site-max-width);
}

header{
background:var(--primary-color);
}

header .nav-bar{
    display:flex;
    padding:15px;
    align-items:center;
    justify-content:space-between;
}

.nav-bar .nav-lg .lg-txt{
color:var(--white-color);
font-size:var(--font-size-xtralarge);
font-weight:var(--font-weight-semibold);

}


.nav-bar .nav-menu{
    display:flex;
    gap:12px;
}


.nav-bar .nav-menu .nav-link {
    padding:10px 18px;
    
    color:var(--white-color);
    font-size:var(--font-size-medium);
    
    border-radius:var(--border-radius-medium);
    transition:  0.3s ease;

}


.nav-bar .nav-menu .nav-link:hover {
    color:var(--primary-color);
    background:var(--secondary-color);
}