@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Strichpunkt+Sans:wght@400..900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"poppins", sans-serif;
}

:root{

    --white-color:#fff;
    --dark-color:#252525;
    --primary-color:#883101;
    --secondary-color:#F3961C;
    --lightpink-color:#FAF4F5;
    --mediumgray-color:#ccc;


    --font-size-small:0.8rem;
    --font-size-medium: 1rem;
    --font-size-large:1.5rem;
    --font-size-xtralarge: 2rem;
    --font-size-xxtralarge:2.3rem;

    --font-weight-small:400;
    --font-weight-medium:500;
    --font-weight-semibold:600;
    --font-weight-bold:700;


    --border-radius-small:7px;
    --border-radius-medium:32px;
    --border-radius-circle:50%;


    --site-max-width:1250px;
}




ul{
    list-style:none;
}

a{
    text-decoration:none;
}

button{
    cursor:pointer;
    border:none;
    background:none;
}

img{
    width:100%;
}

.section-cntn{
    margin:0 auto;
    padding:0 17px;
    max-width:var(--site-max-width);
}

header{
background:var(--primary-color);
position:fixed;
width:100%;
z-index:10;

}

header .nav-bar{
    display:flex;
    padding:15px;
    align-items:center;
    justify-content:space-between;
}

.nav-bar .nav-lg .lg-txt{
color:var(--white-color);
font-size:var(--font-size-xtralarge);
font-weight:var(--font-weight-semibold);

}


.nav-bar .nav-menu{
    display:flex;
    gap:12px;
}


.nav-bar .nav-menu .nav-link {
    padding:10px 18px;
    
    color:var(--white-color);
    font-size:var(--font-size-medium);
    
    border-radius:var(--border-radius-medium);
    transition:  0.3s ease;

}


.nav-bar .nav-menu .nav-link:hover {
    color:var(--primary-color);
    background:var(--secondary-color);
}

.nav-bar :where(#menu-close-button, #menu-open-btn){
    display:none;
}


.hero-section{
    min-height:100vh;
    background:var(--primary-color);
}


.hero-section .section-cntn{
    display:flex;
    align-items:center;
    min-height:100vh;
    color:var(--white-color);
    justify-content:space-between;
}


.hero-section .hero-dtls .title{
font-size:var(--font-size-xxtralarge);
color:var(--secondary-color);
font-family: "Miniver", serif;
}


.hero-section .hero-dtls .subtitle{
    margin-top:10px;
    max-width:60%;
    font-size:var(--font-size-xtralarge);
    font-weight:var(--font-weight-semibold);

}



.hero-section .hero-dtls .desc{
    max-width:70%;
    margin:24px 0 40px;
    font-size:var(--font-size-medium);
}


.hero-section .hero-dtls .buttons{
    display:flex;
    gap:15px;
}



.hero-section .hero-dtls .btn{
    padding:10px 20px;
    border:2px solid transparent;
    color:var(--primary-color); 
    border-radius:var(--border-radius-medium);
    background:var(--secondary-color);
    font-weight:var(--font-weight-medium);
    transition:0.3s ease;
}



.hero-section .hero-dtls .btn:hover, .hero-section .hero-dtls .contact-us{
    color:var(--white-color); 
    border-color:var(--white-color);
    background:transparent;
}

.hero-section .hero-dtls .contact-us:hover{
    color:var(--primary-color);
    border-color:var(--secondary-color);
    background:var(--secondary-color);
}


.hero-section .hero-img-wrapper{
    max-width:500px;
    width:100%;
    margin-right:20px;
    flex-shrink:1;
    
}


.hero-section .hero-img-wrapper .hero-img{
    border-radius:var(--border-radius-circle);
    object-fit:cover;
    box-shadow:10px 10px 30px rgba(0, 0, 0, 0.4);
}



@media screen and (max-width:900px){


    :root{
--font-size-medium:1rem;
--font-size-large:1.3rem;
--font-size-xtralarge:1.5rem;
--font-size-xxtralarge:1.9rem;


    }

    body.show-mbl-menu{
  overflow:"hidden";
    }

    body.show-mbl-menu header:before{
        content:"";
        position:fixed;
        left: 0;
        top:0;
        height:100%;
        width:100%;
        backdrop-filter:blur(5px);
        background:rgba(0, 0, 0, 0.3);
    }


    .nav-bar :where(#menu-close-button, #menu-open-btn){
        display: block;
font-size:var(--font-size-large);
    }

    .nav-bar #menu-close-button{
        position:absolute;
        right:25px;
        top:30px;
    }


    .nav-bar #menu-open-btn{
        color:var(--white-color);
    }

    .nav-bar .nav-menu{
        display:block;
        position:fixed;
        top:0;
        left:-350px;
        width:350px;
        height:100vh;
        display:flex;
        flex-direction:column;
        align-items:center;
        padding-top:80px;
        background:var(--white-color);
        transition: left 0.3s ease;
    }

    body.show-mbl-menu .nav-bar .nav-menu{
        left:0;
    }


    .nav-bar .nav-menu .nav-link{
        color:var(--dark-color);
        display:block;
        margin-top:17px;
        font-size:var(--font-size-large);

    }




    

    
}